html {
    font: 62.5%;
}

body {
    margin: 0;
}

/* mobile styling for header */

header ul   {
    margin-top: 0;
}

header {
    background-color: #AAD576;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-icons ul {
    display: none;
}

header nav {
    display: none;
}

.header-icons img {
    width: 25%;
}

header .market-logo {
    width: 8rem;
}

/* styling for hero section */

section.hero {
    background-image: url(images/blueberry-tomato.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 0;
}

.hero-content {
    max-width: 75%;
    margin: auto;
}

.hero ul {
    list-style-type: none;
    padding: 0;
}


.hero h1 {
    margin: 0;
    color: #ffffff;
    text-shadow: 0 1px black;
}

.hero h2 {
    color: #ffffff;
    text-shadow: 0 1px black;
}

.hero h3 {
    color: #ffffff;
    text-shadow: 0 1px black;
}

.hero p {
    color: #ffff;
    text-shadow: 0 1px black;
}




/* call to action */

section.call-to-action {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    background-color: #AAD576;
    color: #ffffff;
    text-shadow: 0 1px rgb(132, 132, 132);
}

.call-to-action h2 {
    width: 100%;

}

.call-to-action-content {
    width: 80%;
    padding: 10px;
    margin: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image-container {
    width: 160px;
}

.call-to-action-content a {
    color: #ffffff  ;
    text-decoration: none;
    outline: 1px solid #ffffff;
    padding: 3px 6px;
    border-radius: 3px;

}

